#ball{
    background-color: greenyellow;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    position: absolute;
    left: 1px;
    top: 1px;
    display: inline;
    padding-top: 60px;
    padding-left: 53px;
    box-sizing: border-box;
    
}